.gitignore
Mandelbrot/immagini/Mandelbrot_image-5000x5000.pmg
Mandelbrot/immagini/Mandelbrot_image.pmg
.vscode/tasks.json
.vscode/launch.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
.gitignore
.vscode/settings.json
lecture_6/__pycache__/
